* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #CCCCCC;
}

h2 {
    margin: 16px;
}

.container {
    margin: 100px 0;
    padding: 32px;
}

.select-box {
    display: flex;
    flex-direction: column;
    width: 305px;
}

.select-box .options-container {
    background: #f1f1f1;
    color: #000;
    max-height: 0;
    width: 380px;
    opacity: 0;
    transition: .4s all;
    border-radius: 5px;
    overflow: hidden;

    order: 1;
}

.selected {
    position: relative;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #202020;

    order: 0;
}

.selected:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 12px;
    right: 15px;
    top: 45%;
    background: url("./img/select_arrow_down.svg") no-repeat;
    background-size: contain;

    transition: .4s all;
}

.select-box .options-container.active {
    max-height: 278px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected:after {
    transform: rotateX(-180deg);
    top: -40%;
}

.select-box .options-container::-webkit-scrollbar {
    width: 4px;
    background: #f1f1f1;
    border-radius: 0 2px 2px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 0 2px 2px 0;
}

.select-box .option, .selected {
    padding: 12px 25px 12px 20px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #e5e5e5;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.span {
    padding: 12px 120px 4px 20px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    color: #888;
}
.labelBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.labelBlockAmount {
    color: #E40000;
}
